src/main/mule/cloudhubdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f49c87b7-4c0f-41a1-81d8-5b6ec7aa80b6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhubdemoFlow" doc:id="c387b52d-227c-413f-854e-d158672fe9b7" >
		<http:listener doc:name="Listener" doc:id="76e7be10-94c0-42cd-abac-07c6d419d06b" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="Testing codefetch " doc:name="Set Payload" doc:id="0a6a3d8f-9f0e-4c36-86db-b4fef4e9bc1f" />
		<logger level="INFO" doc:name="Logger" doc:id="04739692-8dfb-4474-9c60-aa531028a35c" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="031e7e46-2016-45f5-8406-c40f744aca76" message="xyz"/>
	</flow>
</mule>
